{
  "presets": [
    [
      "env"
    ],
    "stage-0",
    "react"
  ],
  "env": {
    "production": {
      "presets": [
        [
          "env"
        ],
        "stage-0",
        "react",
        "react-optimize"
      ]
    }
  }
}
